:root {
    --white: #fff;
    --blue: #153f59;
}
/*Margin and Padding */

h2 {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 40px;
}

.margin-and-padding {
    margin-top: 40px;
}

#n1 {
    margin-left: 20px;
    color: var(--white);
    background-color: var(--blue);   
    cursor: pointer;
    height: 35px;
    width: 80px;
    font-size: 20px;
}

#n2 {
    margin-left: 40px;
    color: var(--white);
    background-color: var(--blue);
    cursor: pointer;
    height: 35px;
    width: 80px;
    font-size: 20px;
   }   
   
#n3 {
    margin-left: 40px;
    color: var(--white);
    background-color: var(--blue);
    cursor: pointer;
    height: 35px;
    width: 80px;
    font-size: 20px;   
   }
