:root {
    --white: #fff;
    --blue: #153f59;
}
/*Margin and Padding */

h2 {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 40px;
}

.margin-and-padding {
    margin-top: 40px;
}

#n1 {
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: var(--white);
    background-color: var(--blue);   
    cursor: pointer;
    font-size: 20px;
    border: none;
    transition: padding-left 0.1s, padding-right 0.1s, margin-left 0.1s, margin-right 0.1s;
}

#n2 {
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: var(--white);
    background-color: var(--blue);   
    cursor: pointer;
    font-size: 20px;
    border: none;
    transition: padding-left 0.1s, padding-right 0.1s, margin-left 0.1s, margin-right 0.1s;
    }
      
#n3 {
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: var(--white);
    background-color: var(--blue);   
    cursor: pointer;
    font-size: 20px;
    border: none;
    transition: padding-left 0.1s, padding-right 0.1s, margin-left 0.1s, margin-right 0.1ms;  
   }

/*Margin Effects*/

#n1:hover {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 10px;
    margin-right: -10px;
}

#n2:hover {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 10px;
    margin-right: -10px;
}

#n3:hover {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 10px;
    margin-right: -10px;
}

/*Stretch*/

#stretch {
    margin-left: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;  
    color: var(--white);
    background-color: var(--blue);
}
